{% extends 'base_login_register.html' %}
{% block content %}
<div class="little_post">
    <h2>{% block title %} Forgot Password {% endblock %}</h2>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="email">E-mail</label>
        <br>
        <input class="input" type="text" name="email"
            placeholder="E-mail"
            value="{{ request.form['email'] }}" required></input>
        <br>
        <button class="button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}